<h1>Register</h1>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form method="POST" action="/account/register">
  <label>First Name:
   <input type="text" name="account_firstname" id="account_firstname" required
       value="<%= locals.account_firstname %>">
  </label><br>

  <label>Last Name:
    <input type="text" name="account_lastname" id="account_lastname" required
       value="<%= locals.account_lastname %>">
  </label><br>

  <label>Email:
    <input type="email" name="account_email" id="account_email" required
       value="<%= locals.account_email %>">
  </label><br>

  <label>Password:
    <input type="password" name="account_password" required
      pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$">
  </label><br>

  <button type="submit">Register</button>
</form>





<input type="text" name="account_lastname" id="accountLastname" required
       value="<%= locals.account_lastname %>">

<input type="email" name="account_email" id="accountEmail" required
       value="<%= locals.account_email %>">

