<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <main class="container">
    <%- grid %>
    </main>

      <p><a href="/inv/">Back to management</a></p>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
