<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <main class="container">
      <%- vehicleDetail %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
